<!-- ./ Main -->
<div class="container">
    <h1>Dashboard</h1>
    <a href="/dashboard/new"><button>Add New Post +</button></a>
    {{#each posts}}
      <h3>{{title}}</h3>
      <p>Created by: {{user.username}} | Date: {{format_date createdAt}}</p>
      <p>{{content}}</p>
      <a href="/edit-post/{{id}}"><button id="edit-post">Edit Blog Post</button></a>
      <button id="delete-post" data-typeid="{{id}}">Remove</button>
    {{/each}}
</div>
<script src="/js/deletePost.js"></script>